@keyframes fromTopToBottom {
  0% {
    transform: translateY(-12rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

@keyframes fromBottomToTop {
  0% {
    transform: translateY(12rem);
    opacity: 0; }
  100% {
    transform: translateY(0);
    opacity: 1; } }

.margin-bottom-medium {
  margin-bottom: 6rem; }

.margin-bottom-small {
  margin-bottom: 2rem; }

.text-white {
  color: #FFF; }

.text-grey {
  color: #323232; }

.left-aligned {
  text-align: left; }

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

@media only screen and (max-width: 600px) {
  html {
    font-size: 50%; }
  .tables-section__table--table-header {
    max-width: 8rem;
    font-size: 1.2rem; }
  .heading-primary {
    font-size: 4.5rem; }
  .row__col-1-of-3 {
    width: 100%; }
  .row__col-2-of-3 {
    width: 100%; }
  .landing {
    height: 140rem; }
  .welcome__box {
    background-image: linear-gradient(105deg, #FFF 0%, #FFF 50%, transparent 50%); }
    .welcome__box--text-box {
      width: 100%; }
  .form__group--input {
    width: 80%; }
  .landing__text-area {
    top: 5%;
    left: 50%;
    transform: translate(-50%, -5%); }
  .intro__107rem {
    height: 175rem !important; }
  .intro__107rem-p {
    height: 145rem !important; } }

@media only screen and (min-width: 600px) {
  html {
    font-size: 55%; }
  .tables-section__table--table-header {
    font-size: 1.6rem; }
  .heading-primary {
    font-size: 6rem; }
  .row__col-1-of-3 {
    width: 100%; }
  .row__col-2-of-3 {
    width: 100%; }
  .landing {
    height: 125rem; }
  .welcome__box {
    background-image: linear-gradient(105deg, #FFF 0%, #FFF 50%, transparent 50%); }
    .welcome__box--text-box {
      width: 100%; }
  .form__group--input {
    width: 60%; }
  .intro__107rem {
    height: 150rem !important; }
  .intro__107rem-p {
    height: 120rem !important; }
  .landing__text-area {
    top: 7%;
    left: 50%;
    transform: translate(-50%, -7%); } }

@media only screen and (min-width: 1280px) {
  html {
    font-size: 59%; }
  .landing {
    height: 94rem; }
  .row__col-1-of-3 {
    width: calc((100% - 2 * 5rem) / 3); }
  .row__col-2-of-3 {
    width: calc(66% - 5rem); }
  .landing {
    height: 82rem; }
  .welcome__box {
    background-image: linear-gradient(105deg, #FFF 0%, #FFF 50%, transparent 50%), url("../img/woezel.jpg"); }
    .welcome__box--text-box {
      width: 50%; }
  .form__group--input {
    width: 40%; }
  .intro__107rem {
    height: 112rem !important; }
  .intro__107rem-p {
    height: 85rem !important; }
  .landing__text-area {
    top: 10%;
    left: 50%;
    transform: translate(-50%, -10%); } }

@media only screen and (min-width: 1920px) {
  html {
    font-size: 62.5%; }
  .intro__107rem {
    height: 107rem !important; }
  .intro__107rem-p {
    height: 80rem !important; }
  .landing__text-area {
    top: 13%;
    left: 50%;
    transform: translate(-50%, -13%); } }

body {
  box-sizing: border-box; }

body {
  font-family: "Lato", sans-serif;
  padding: 3rem; }

.paragraph {
  font-size: 1.6rem; }

.heading-primary {
  color: #FFF;
  text-transform: uppercase;
  animation: fromTopToBottom .8s; }

.secondary-heading {
  font-size: 3rem;
  text-transform: uppercase; }

.tertiary-heading {
  font-size: 2rem;
  text-transform: uppercase;
  color: #323232; }

.btn,
.btn:link,
.btn:visited {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid #3FD2C7;
  color: #FFF;
  font-size: 2rem;
  transition: all .2s;
  display: inline-block;
  padding: 1rem;
  animation: fromBottomToTop .8s; }
  .btn:hover,
  .btn:link:hover,
  .btn:visited:hover {
    background-color: #3FD2C7;
    box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.85rem); }
  .btn:active,
  .btn:link:active,
  .btn:visited:active {
    box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
    transform: translateY(-0.15rem); }

.btn-small {
  text-decoration: none;
  text-transform: uppercase;
  border-bottom: 3px solid #3FD2C7;
  color: #323232;
  font-size: 1.6rem;
  transition: all .2s;
  display: inline-block;
  padding: 1rem;
  animation: fromBottomToTop .8s; }
  .btn-small:hover {
    background-color: #3FD2C7; }

.row {
  width: 100%; }
  .row:after {
    content: "";
    display: table;
    clear: both; }
  .row__col-1-of-3 {
    float: left;
    padding: 2rem; }
    .row__col-1-of-3:not(:last-child) {
      margin-right: 5rem; }
  .row__col-2-of-3 {
    float: left;
    padding: 2rem; }
  .row__col-1-of-4 {
    float: left;
    padding: 2rem;
    width: calc((100% - 3 * 5rem) / 4); }
    .row__col-1-of-4:not(:last-child) {
      margin-right: 5rem; }
  .row__col-1-of-2 {
    float: left;
    padding: 2rem;
    width: calc((100% - 5rem) / 2); }
    .row__col-1-of-2:not(:last-child) {
      margin-right: 5rem; }
  .row__col-1-of-1 {
    float: left;
    padding: 2rem;
    width: 100%; }

.footer {
  background-color: #191919; }
  .footer__text-area {
    padding: 1.8rem;
    font-size: 1.6rem; }
    .footer__text-area--paragraph {
      display: inline-block;
      color: #FFF;
      margin-right: 5rem; }
      .footer__text-area--paragraph:first-child {
        margin-left: 5rem; }
    .footer__text-area--right {
      float: right; }
    .footer__text-area--link:link, .footer__text-area--link:visited {
      text-decoration: none;
      color: inherit; }

.tables-section {
  padding: 8rem 0;
  background-color: #EEE; }
  .tables-section__row-area {
    background-color: #FFF;
    margin: 0 auto;
    padding: 4rem;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.15);
    text-align: left; }
  .tables-section__table {
    table-layout: fixed; }
    .tables-section__table--table-header {
      padding: 1.5rem;
      border-right: 1px solid rgba(88, 88, 88, 0.85); }
    .tables-section__table--table-definition {
      padding: 1.5rem;
      font-size: 1.4rem; }
    .tables-section__table--table-header-bottom {
      width: calc(100% / 10);
      padding: 1.75rem;
      font-size: 1.75rem;
      border-bottom: 1px solid rgba(88, 88, 88, 0.85); }

.picture {
  margin: 0 auto;
  display: block;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  max-width: 80%; }

.horizontal-line {
  margin: 3rem auto;
  width: 65%; }

.content-area {
  width: 90%;
  margin: 0 auto; }

.indeling {
  background-image: linear-gradient(to right bottom, rgba(153, 221, 255, 0.9), rgba(0, 69, 139, 0.8));
  padding: 8rem 0; }

.main__picture {
  width: 85%;
  margin: 0 auto; }
  .main__picture--pic {
    margin: 0 auto;
    display: block;
    max-width: 100%; }

.main__text-area {
  width: 85%;
  margin: 0 auto;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4);
  padding: 3.5rem;
  border-radius: 3px;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  transition: all .2s; }
  .main__text-area:hover {
    transform: translateY(-2rem);
    box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.4); }

.landing {
  background-image: linear-gradient(to bottom right, rgba(153, 221, 255, 0.75), rgba(0, 69, 139, 0.75)), url("../img/blocks.jpg");
  background-size: cover;
  background-position: bottom;
  position: relative; }
  .landing__text-area {
    position: absolute;
    text-align: center; }
  .landing__boxes {
    position: absolute;
    top: 75%;
    left: 5%;
    width: 90%;
    transform: translateY(-75%); }
    .landing__boxes--box {
      background-color: #FFF;
      opacity: .8;
      padding: 2rem;
      border-radius: 5px;
      position: relative;
      transition: all .2s;
      box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.4); }
      .landing__boxes--box:hover {
        transform: translateY(-2rem);
        box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.4); }

.welcome {
  background-color: #EEE;
  padding: 8rem 0; }
  .welcome__box {
    width: 90%;
    margin: 0 auto;
    opacity: .9;
    background-size: cover;
    background-position: bottom;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
    border-radius: 3px; }
    .welcome__box--text-box {
      padding: 4rem; }

.form {
  background-image: linear-gradient(to bottom right, rgba(153, 221, 255, 0.9), rgba(0, 69, 139, 0.8));
  padding: 8rem 0; }
  .form__box {
    width: 75%;
    background-color: rgba(255, 255, 255, 0.8);
    margin: 0 auto;
    border-radius: 3px;
    padding: 3rem;
    text-align: center;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4); }
  .form__group--input {
    padding: 1.5rem;
    font-size: 1.6rem;
    border-radius: 3px;
    border: 3px solid transparent;
    border-bottom: 3px solid #3FD2C7;
    resize: none;
    font-family: inherit;
    margin-bottom: 2rem;
    transition: all .2s; }
    .form__group--input:hover {
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
      transform: translateY(-0.85rem); }
    .form__group--input:focus {
      outline: none;
      border: 3px solid rgba(0, 69, 139, 0.6);
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-0.15rem); }
  .form__group--label {
    display: none; }
  .form__submit {
    margin-top: 4rem;
    cursor: pointer;
    padding: 1rem 1.8rem;
    border: 3px solid transparent;
    border-bottom: 3px solid #3FD2C7;
    background-color: inherit;
    font-size: 1.6rem;
    color: #323232;
    transition: all .2s;
    text-transform: uppercase;
    font-family: inherit; }
    .form__submit:hover {
      background-color: #3FD2C7;
      box-shadow: 0 2rem 3rem rgba(0, 0, 0, 0.15);
      transform: translateY(-0.85rem); }
    .form__submit:active {
      box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
      transform: translateY(-0.15rem); }
    .form__submit:focus {
      outline: none;
      border: 3px solid #3FD2C7; }
