.margin-bottom-medium {
    margin-bottom: 6rem;
}

.margin-bottom-small {
    margin-bottom: 2rem;
}

.text-white {
    color: $color-white;
}

.text-grey {
    color: $color-dark-grey;
}

.centered {
    text-align: center;
}