$color-primary: #99DDFF;
$color-secondary: #00458B;
$color-tertiary: #3FD2C7;
$color-tertiary-dark: #1f6963;

$color-white: #FFF;
$color-black: #000;
$color-dark-grey: #323232;
$color-medium-grey: #a6a6a6;
$color-light-grey: #EEE;

$color-footer-background: #191919;

$gutter-horizontal: 5rem;