.row {
    width: 100%;

    @include clearfix;

    &__col-1-of-3 {
        float: left;
        width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
        padding: 2rem;
        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }

    &__col-1-of-4 {
        float: left;
        padding: 2rem;
        width: calc((100% - 3 * #{$gutter-horizontal}) / 4);

        &:not(:last-child) {
            margin-right: $gutter-horizontal;
        }
    }
}