*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media only screen and (max-width: 600px) {
    html {
      font-size: 50%; 
    }
    .tables-section__table--table-header {
      max-width: 8rem;
      font-size: 1.2rem;
    }
    .heading-primary {
      font-size: 4.5rem;
    }
    .row__col-1-of-3 {
      width: 100%;
    }
    .row__col-2-of-3 {
      width: 100%;
    }
    .row__col-1-of-2 {
      width: 100%;
    }
    .landing {
      height: 140rem;
    }
    .welcome__box {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%);
      &--text-box {
        width: 100%;
      }
    }
    .form__group--input {
      width: 80%;
    }
    .landing__text-area {
      top: 5%;
      left: 50%;
      transform: translate(-50%, -5%);
    }
    .intro__107rem {
      height: 50rem !important; 
    }
    .intro__107rem-p {
      height: 145rem !important;
    }
    .intro__107rem-h {
      height: 75rem !important;
    }
    iframe {
      width: 100%;
      height: 25rem;
    }
}
  
  @media only screen and (min-width: 600px) {
    html {
      font-size: 55%; 
    }
    .tables-section__table--table-header {
      font-size: 1.6rem;
    }
    .heading-primary {
      font-size: 6rem;
    }
    .row__col-1-of-3 {
      width: 100%;
    }
    .row__col-2-of-3 {
      width: 100%;
    }
    .row__col-1-of-2 {
      width: 100%;
    }
    .landing {
      height: 125rem;
    }
    .welcome__box {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%);
      &--text-box {
        width: 100%;
      }
    }
    .form__group--input {
      width: 60%;
    }
    .intro__107rem {
      height: 70rem !important;
    }
    .intro__107rem-p {
      height: 120rem !important;
    }
    .intro__107rem-h {
      height: 75rem !important;
    }
    .landing__text-area {
      top: 7%;
      left: 50%;
      transform: translate(-50%, -7%);
    }
    iframe {
      width: 100%;
      height: 35rem;
    }
}
  
  @media only screen and (min-width: 1280px) {
    html {
      font-size: 59%; 
    } 
    .landing {
      height: 94rem;
    }
    .row__col-1-of-3 {
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
    .row__col-2-of-3 {
      width: calc(((100% - 2 * #{$gutter-horizontal}) / 3) * 2 + #{$gutter-horizontal});
    }
    .row__col-1-of-2 {
      width: calc((100% - #{$gutter-horizontal}) / 2);
    }
    .landing {
      height: 82rem;
    }
    .welcome__box {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%), url("../img/woezel.jpg");
      &--text-box {
        width: 50%;
      }
    }
    .welcome__box_1 {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%), url("../img/handen.png");
    }
    .welcome__box_2 {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%), url("../img/blocks.jpg");
    }
    .form__group--input {
      width: 40%;
    }
    .intro__107rem {
      height: 65rem !important;
    }
    .intro__107rem-p {
      height: 85rem !important;
    }
    .intro__107rem-h {
      height: 70rem !important;
    }
    .landing__text-area {
      top: 10%;
      left: 50%;
      transform: translate(-50%, -10%);
    }
    iframe {
      width: 100%;
      height: 45rem;
    }
}
  
  @media only screen and (min-width: 1920px) {
    html {
      font-size: 62.5%; 
    } 
    .intro__107rem {
      height: 60rem !important;
    }
    .intro__107rem-p {
      height: 80rem !important;
    }
    .intro__107rem-h {
      height: 65rem !important;
    }
    .landing__text-area {
      top: 13%;
      left: 50%;
      transform: translate(-50%, -13%);
    }
}

body {
    box-sizing: border-box;
}