*,
*:after,
*:before {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

@media only screen and (max-width: 600px) {
    html {
      font-size: 45%; 
    }
    .row__col-1-of-3 {
      width: 100%;
    }
    .landing {
      height: 160rem;
    }
    .welcome__box {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%);
      &--text-box {
        width: 100%;
      }
    }
    .form__group--input {
      width: 80%;
    }
}
  
  @media only screen and (min-width: 600px) {
    html {
      font-size: 50%; 
    }
    .row__col-1-of-3 {
      width: 100%;
    }
    .landing {
      height: 150rem;
    }
    .welcome__box {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%);
      &--text-box {
        width: 100%;
      }
    }
    .form__group--input {
      width: 60%;
    }
}
  
  @media only screen and (min-width: 1280px) {
    html {
      font-size: 56%; 
    } 
    .landing {
      height: 94rem;
    }
    .row__col-1-of-3 {
      width: calc((100% - 2 * #{$gutter-horizontal}) / 3);
    }
    .landing {
      height: 82rem;
    }
    .welcome__box {
      background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%), url("../img/woezel.jpg");
      &--text-box {
        width: 50%;
      }
    }
    .form__group--input {
      width: 40%;
    }
}
  
  @media only screen and (min-width: 1920px) {
    html {
      font-size: 62.5%; 
    } 
}

body {
    box-sizing: border-box;
}