.landing {
    height: 80vh;
    background-image: linear-gradient(to bottom right, rgba($color-primary, 0.75), rgba($color-secondary, 0.75)), url("../img/blocks.jpg");
    background-size: cover;
    background-position: bottom;
    position: relative;

    &__text-area {
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -20%);
        text-align: center;
    }

    &__boxes {
        position: absolute;
        top: 75%;
        left: 5%;
        width: 90%;
        transform: translateY(-75%);

        &--box {
            background-color: $color-white;
            opacity: .8;
            padding: 2rem;
            border-radius: 5px;
            position: relative;
            transition: all .2s;  
            box-shadow: 0 2rem 4rem rgba($color-black, 0.4);


            &:hover {
                transform: translateY(-2rem);
                box-shadow: 0 3rem 5rem rgba($color-black, 0.4);
            }
        }
    }
}

.welcome {
    background-color: $color-light-grey;
    padding: 8rem 0;

    &__box {
        width: 90%;
        height: 50rem;
        margin: 0 auto; 
        opacity: .9;
        background-size: cover;
        background-position: bottom;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
        border-radius: 3px;
        background-image: linear-gradient(105deg, $color-white 0%, $color-white 50%, transparent 50%), url("../img/woezel.jpg");

        &--text-box {
            width: 50%;
            text-align: center;
            padding: 4rem;
        }
    }
}

.form {
    background-image: linear-gradient(to bottom right, rgba($color-primary, 0.9), rgba($color-secondary, 0.8));
    padding: 8rem 0;

    &__box {
        width: 75%;
        background-color: rgba($color-white, .8);
        margin: 0 auto;
        border-radius: 3px;
        padding: 3rem;
        text-align: center;
        box-shadow: 0 1.5rem 4rem rgba($color-black, .4);
    }

    &__group {

        &--input {
            padding: 1.5rem;
            font-size: 1.6rem;
            width: 40%;
            border-radius: 3px;
            border: 3px solid transparent;
            border-bottom: 3px solid $color-tertiary;
            resize: none;
            font-family: inherit;
            margin-bottom: 2rem;
            transition: all .2s;

            &:hover {
                box-shadow: 0 2rem 3rem rgba($color-black, 0.15);
                transform: translateY(-.85rem);
            }

            &:focus {
                outline: none;
                border: 3px solid rgba($color-secondary, .6);
                box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
                transform: translateY(-.15rem);
            }

        }

        &--label {
            display: none;
        }
    }

    &__submit {
        margin-top: 4rem;
        cursor: pointer;
        padding: 1rem 1.8rem;
        border: 3px solid transparent;
        border-bottom: 3px solid $color-tertiary;
        background-color: inherit;
        font-size: 1.6rem;
        color: $color-dark-grey;
        transition: all .2s;
        text-transform: uppercase;
        font-family: inherit;

        &:hover {
            background-color: $color-tertiary;
            box-shadow: 0 2rem 3rem rgba($color-black, 0.15);
            transform: translateY(-.85rem);
        }

        &:active {
            box-shadow: 0 1rem 2rem rgba($color-black, 0.15);
            transform: translateY(-.15rem);
        }

        &:focus {
            outline: none;
            border: 3px solid $color-tertiary;
        }
    }
}
